.back-interstitial-rt {
  display: block; 
  font-size: 35px;
  color: #fff;
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: 2px solid #15B7FF;
  background-color: #15B7FF;
  text-align: center;
  z-index: 99;
  -webkit-box-shadow: 0px 0px 13px -9px rgba(52,51,4,0.73);
  -moz-box-shadow: 0px 0px 13px -9px rgba(52,51,4,0.73);
  box-shadow: 0px 0px 13px -9px rgba(52,51,4,0.73);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }
  .back-interstitial-rt:hover {
    color: #fff;
    border-color: #FAFAFA; }
  
.back-interstitial {
  display: block; 
  font-size: 35px;
  color: #fff;
  position: fixed;
  left: 40px;
  bottom: 40px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: 2px solid #15B7FF;
  background-color: #15B7FF;
  text-align: center;
  z-index: 99;
  -webkit-box-shadow: 0px 0px 13px -9px rgba(52,51,4,0.73);
  -moz-box-shadow: 0px 0px 13px -9px rgba(52,51,4,0.73);
  box-shadow: 0px 0px 13px -9px rgba(52,51,4,0.73);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }
  .back-interstitial:hover {
    color: #fff;
    border-color: #FAFAFA; }
	
.back-interstitial img {
  width: 40px;
  height: 40px;
  margin: auto;
  margin-top: 12.25px;
  display: block;
}

.back-interstitial-rt img {
  width: 40px;
  height: 40px;
  margin: auto;
  margin-top: 12.25px;
  display: block;
}
	
.lds-grid {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #15B7FF;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}	
	
