/* Manrope */
@font-face {
  font-family: "Manrope Bold";
  src: url("/assets/common/fonts/manrope/bold.woff2") format("woff2"),
       url("/assets/common/fonts/manrope/bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Manrope Semibold";
  src: url("/assets/common/fonts/manrope/semibold.woff2")
      format("woff2"),
       url("/assets/common/fonts/manrope/semibold.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Manrope Medium";
  src: url("/assets/common/fonts/manrope/medium.woff2")
      format("woff2"),
       url("/assets/common/fonts/manrope/medium.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Manrope Regular";
  src: url("/assets/common/fonts/manrope/regular.woff2")
      format("woff2"),
       url("/assets/common/fonts/manrope/regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Manrope Italic";
  src: url("/assets/common/fonts/manrope/italic.woff2")
      format("woff2"),
       url("/assets/common/fonts/manrope/italic.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Manrope Light";
  src: url("/assets/common/fonts/manrope/light.woff2") format("woff2"),
       url("/assets/common/fonts/manrope/light.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Manrope Thin";
  src: url("/assets/common/fonts/manrope/thin.woff2") format("woff2"),
       url("/assets/common/fonts/manrope/thin.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

/* Metropolis */
@font-face {
  font-family: "metropolis-black";
  src: url("/assets/common/fonts/metropolis/metropolis-black-webfont.woff2") format("woff2"),
       url("/assets/common/fonts/metropolis/metropolis-black-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "metropolis-black-italic";
  src: url("/assets/common/fonts/metropolis/metropolis-blackitalic-webfont.woff2")
      format("woff2"),
       url("/assets/common/fonts/metropolis/metropolis-blackitalic-webfont.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "metropolis-extrabold";
  src: url("/assets/common/fonts/metropolis/metropolis-extrabold-webfont.woff2")
      format("woff2"),
       url("/assets/common/fonts/metropolis/metropolis-extrabold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "metropolis-extrabold-italic";
  src: url("/assets/common/fonts/metropolis/metropolis-extrabolditalic-webfont.woff2")
      format("woff2"),
       url("/assets/common/fonts/metropolis/metropolis-extrabolditalic-webfont.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "metropolis-bold";
  src: url("/assets/common/fonts/metropolis/metropolis-bold-webfont.woff2") format("woff2"),
       url("/assets/common/fonts/metropolis/metropolis-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "metropolis-bold-italic";
  src: url("/assets/common/fonts/metropolis/metropolis-bolditalic-webfont.woff2")
      format("woff2"),
       url("/assets/common/fonts/metropolis/metropolis-bolditalic-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "metropolis-semibold";
  src: url("/assets/common/fonts/metropolis/metropolis-semibold-webfont.woff2")
      format("woff2"),
       url("/assets/common/fonts/metropolis/metropolis-semibold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "metropolis-semibold-italic";
  src: url("/assets/common/fonts/metropolis/metropolis-semibolditalic-webfont.woff2")
      format("woff2"),
       url("/assets/common/fonts/metropolis/metropolis-semibolditalic-webfont.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "metropolis-medium";
  src: url("/assets/common/fonts/metropolis/metropolis-medium-webfont.woff2")
      format("woff2"),
       url("/assets/common/fonts/metropolis/metropolis-medium-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "metropolis-medium-italic";
  src: url("/assets/common/fonts/metropolis/metropolis-mediumitalic-webfont.woff2")
      format("woff2"),
       url("/assets/common/fonts/metropolis/metropolis-mediumitalic-webfont.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "metropolis-regular";
  src: url("/assets/common/fonts/metropolis/metropolis-regular-webfont.woff2")
      format("woff2"),
       url("/assets/common/fonts/metropolis/metropolis-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "metropolis-italic";
  src: url("/assets/common/fonts/metropolis/metropolis-regularitalic-webfont.woff2")
      format("woff2"),
       url("/assets/common/fonts/metropolis/metropolis-regularitalic-webfont.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "metropolis-light";
  src: url("/assets/common/fonts/metropolis/metropolis-light-webfont.woff2") format("woff2"),
       url("/assets/common/fonts/metropolis/metropolis-light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "metropolis-light-italic";
  src: url("/assets/common/fonts/metropolis/metropolis-lightitalic-webfont.woff2")
      format("woff2"),
       url("/assets/common/fonts/metropolis/metropolis-lightitalic-webfont.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "metropolis-extralight";
  src: url("/assets/common/fonts/metropolis/metropolis-extralight-webfont.woff2")
      format("woff2"),
       url("/assets/common/fonts/metropolis/metropolis-extralight-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "metropolis-extralight-italic";
  src: url("/assets/common/fonts/metropolis/metropolis-extralightitalic-webfont.woff2")
      format("woff2"),
       url("/assets/common/fonts/metropolis/metropolis-extralightitalic-webfont.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "metropolis-thin";
  src: url("/assets/common/fonts/metropolis/metropolis-thin-webfont.woff2") format("woff2"),
       url("/assets/common/fonts/metropolis/metropolis-thin-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "metropolis-thin-italic";
  src: url("/assets/common/fonts/metropolis/metropolis-thinitalic-webfont.woff2")
      format("woff2"),
       url("/assets/common/fonts/metropolis/metropolis-thinitalic-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

/*# sourceMappingURL=fonts.css.map */
